body {
     margin: 0;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 1vw 7vw;
}

.nav-item{
    cursor: pointer;
    padding-left: 15px;
    /* font-size: 4rem; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

}

.navbar {
    padding: 5px 15px 5px 15px;
}
.artb{
    max-width: 540px !important;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('file:///C:/Users/Admin/Desktop/se-page/assets/menue.jpg');
    background-blend-mode: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 130vh;
}
.menu-bottom-inner{
    padding-left: 100px;
}
.menu-bottom{ 
    max-width: 55vw;
    padding-bottom: 55vh;
}
.sqsrte-large{
    line-height: 45px;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}
.nav-menu {

    display: flex;
    align-items: center;
}

.nav-menu li {
    padding-right: 10px;
}

.title h1 {
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    display: block;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.17;
    margin: 2rem 0;
    color: #fff;
}

.title p {
    color: #fff;
}

.btn {
    border-radius: .4rem;
}
.learn-more{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #18ea19 !important
}
.artboard{
    max-width: 500px;
}
.section4Container{
    background-color: #18ea19;
    margin: 0px;
}
.col img{
    max-width: 250px
}
.col.artboard1{
    display: flex;
    justify-content: flex-end;
}
.partner-pic{
    display: flex;
    justify-content: center;
}
.align-self-center{
    display: flex;
    justify-content: center;
}
.section11{
    margin: 20px 0px;
    background-color: #e6e6e6;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    display: flex;
    background-color: black;
    align-items: center;
}
.col-4.privacy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.col-4.privacy a{
    color: #18ea19;
}
.col-4.copyright{
    justify-content: center;
    display: flex;
    color : white;
}
.col-4.logo{
    display: flex;
    justify-content: flex-end;
}
.footer img{
    background-color: white;
}
.section8-title{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
